body {
    background-image: url(https://i.ex-cdn.com/chatluongvacuocsong.vn/files/content/2023/09/21/at-2-1623.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    color: rgba(12, 11, 11, 0.685);
    
}
.container {
    color: white;
}
.login-box {
    width: 300px;
    background-color: white;
    display: block;
    border-radius: 6px;
    padding-bottom: 15px;
    margin: 0 auto;
}
.login-header {
    background-color: #00a3e0;
    padding: 10px;
}
.login-box input {
    border: 1px solid black;
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
}
.login-box button {
    background-color: red;
    color: white;
    width: 87%;
    padding: 10px;
    border-radius: 4px;
    margin-top: 8px;
    border: 1px solid rgb(165, 157, 157);
}
.or {
    color: rgb(82, 190, 190);
    margin: 10px 0;
}
.social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    line-height: 30px;
}
.facebook { background: #3b5998; }
.twitter { background: #55acee; }
.google { background: #dd4b39; }
.links {
    font-size: 14px;
    color: black;
    margin-top: 10px;
    line-height: 20px;
}
.links a{ 
    text-decoration: none;

}